.notifybar {
    transition: .3s;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 25px;
    background-color: var(--scbackground);
    color: var(--text);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    display: flex;
    align-items: center;
    gap: 5px;

    & img {
        width: 30px;
        height: 30px;
    }
}

.shownotify {
    bottom: 30px;
}

.intro {
    transition: .3s;
    background-color: var(--background);
    width: 100%;
    position: relative;

    & .introWrap {

        & .mainContent {
            transition: 2s;
            color: var(--text);
            font-family: "Rubik", sans-serif;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .littleAbout {
                width: 40%;

                & .name {
                    & p {
                        font-size: 24px;
                        margin: 0 0 0 2px;
                    }

                    &>h1 {
                        background: linear-gradient(120deg, var(--primary), var(--accent));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: clamp(48px, 5vw, 99px);
                    }

                }

                & .myText {
                    & >p {
                        font-size: clamp(16px, 4vw, 24px);
                    }

                }
            }

            & .whyMe {
                &>p {
                    font-size: clamp(12px, 4vw, 22px);
                }
            }


            & .photoOfMe {
                width: 40%;
                min-width: 500px;
                height: 100%;
                display: flex;
                align-items: flex-end;
                background-image: url(./img/backcirclelgblack.png);
                background-size: contain;
                background-position: calc(50%) calc(50% + 50px);
                background-repeat: no-repeat;

                & img {
                    width: 100%;
                    filter: drop-shadow(20px 0px rgba(0, 0, 0, 0.3));

                }
            }

        }
    }
}



.intro::before {
    transition: .3s;
    content: "";
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  99' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 72L50 68C100 63 200 55 300 37C400 19 500 -8 600 1C700 10 800 55 900 72C1000 90 1100 81 1150 77L1200 72V99H1150C1100 99 1000 99 900 99C800 99 700 99 600 99C500 99 400 99 300 99C200 99 100 99 50 99H0V72Z' fill='%23fcfbff'/></svg>");

    @media(max-width:850px) {
        ::before {
            height: 65px
        }
    }
}

.intro-dark::before {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  99' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 72L50 68C100 63 200 55 300 37C400 19 500 -8 600 1C700 10 800 55 900 72C1000 90 1100 81 1150 77L1200 72V99H1150C1100 99 1000 99 900 99C800 99 700 99 600 99C500 99 400 99 300 99C200 99 100 99 50 99H0V72Z' fill='%231d1d1d'/></svg>");

}


@media screen and (max-width:1100px) {
    .intro {
        & .introWrap {


            & .mainContent {
                flex-direction: column;


                & .littleAbout {
                    padding: 30px 0 0;
                    width: 100%;


                }


                & .photoOfMe {
                    order: 3;



                }

                & .whyMe {
                    padding: 30px 0 0;
                    order: 2;
                    width: 100%;

                    & p {
                        text-align: start;
                    }

                }

            }
        }

    }
}

@media screen and (max-width:768px) {
    .intro {

        & .introWrap {

            & .mainContent {
                & .whyMe {
                    padding: 20px 0 0;
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;

                }


            }

        }

    }
}

@media screen and (max-width:425px) {
    .intro {
        & .introWrap {

            & .mainContent {
                & .whyMe {
                    padding: 20px 0 0;
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;


                }

                & .photoOfMe {
                    min-width: 100%;

                }
            }

        }

    }
}


/* Social media */

.social {
    transition: .3s;
    background: var(--scbackground);
    padding: 30px 0;
    font-family: "Rubik", sans-serif;
    position: relative;

    & .socialWrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & .head {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: normal;

            & h2 {
                padding: 12px 0;
                color: var(--sctext);
                font-size: 36px;
                font-family: "Rubik", sans-serif;
            }

            & p {
                color: var(--text);
                font-family: "Rubik", sans-serif;
                font-size: 16px;
                
            }
        }

        & .socialM {
            /* height: 50vh; */
            padding: 30px 0;
            box-sizing: border-box;

            .cards {
                display: flex;
                flex-direction: column;
                gap: 15px;
                & a{
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 5px ;
                }
            }

            .cards .red {
                background-color: #ee262b;
            }
            .cards .redi {
                background-color: #d7307a;
            }

            .cards .blue {
                background-color: #0882bd;
            }
            .cards .bluef {
                background-color: #486cb4;
            }
            
            .cards .green {
                background-color: #22c55e;
            }
            .cards .grey {
                background-color: #080808;
            }

            .cards .card {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                height: 100px;
                width: 250px;
                border-radius: 10px;
                color: white;
                cursor: pointer;
                transition: 400ms;
            }

            .cards .card p.tip {
                font-size: 1em;
                font-weight: 700;
            }

            .cards .card p.second-text {
                font-size: .7em;
            }

            .cards .card:hover {
                transform: scale(1.1, 1.1);
            }

            .cards:hover>.card:not(:hover) {
                filter: blur(10px);
                transform: scale(0.9, 0.9);
            }
        }

        & .d3dSocialDs {
            width: 100%;
            display: none;
            justify-content: center;
        }

        & .d3dSocialDb {
            display: none;
            justify-content: center;
        }
    }

    @media screen and (min-width:769px) {
        min-height: 800px;
        & .socialWrap {

            & .socialM {
                display: none;
            }

            & .d3dSocialDs {
                display: flex;
            }
        }
    }

    @media screen and (min-width:1024px) {
        & .socialWrap {
            flex-direction: row-reverse;
            justify-content: space-between;

            & .head {
                align-items: flex-start;

                & h2 {
                    font-size: 44px;
                }

                & p {
                    font-size: 20px;
                }
            }

            & .d3dSocialDs {
                width: 50%;
                scale: 1.2;
            }
        }
    }

    @media screen and (min-width:1440px) {
        min-height: 400px;

        & .socialWrap {
            justify-content: space-around;
            gap: 80px;

            & .head {

                & h2 {
                    font-size: 52px;
                }

                & p {
                    font-size: 22px;
                }
            }

            & .d3dSocialDs {
                display: none;
            }

            & .d3dSocialDb {
                display: flex;
                scale: 1.5;

                & canvas {
                    padding: 25px 50px 15px 0;
                }
            }
        }
    }
}

.social::before {

    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 100vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0C22.4434 -1 28.9842 1 55 14C94.1849 32 121.997 34 158.5 34C198.5 36 200 26 240 31C280 35 320 53 360 53C400 53 440 35 480 32C520 29 560 41 600 50C640 59 680 65 720 68C760 71 800 71 840 62C880 53 920 35 960 37C1000 38 1040 59 1080 56C1120 53 1127.5 35 1147.5 22C1171.48 7 1185.65 0 1200 0V80H1180C1160 80 1120 80 1080 80C1040 80 1000 80 960 80C920 80 880 80 840 80C800 80 760 80 720 80C680 80 640 80 600 80C560 80 520 80 480 80C440 80 400 80 360 80C320 80 280 80 240 80C200 80 160 80 120 80C80 80 40 80 20 80H0V0.0103865Z' fill='%23f2f3f7'/></svg>");
}

.social-dark::before {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 83' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0C22.4434 -1 28.9842 1 55 14C94.1849 33 121.997 35 158.5 35C198.5 37 200 27 240 32C280 36 320 55 360 55C400 55 440 36 480 33C520 30 560 43 600 52C640 61 680 67 720 70C760 73 800 73 840 64C880 55 920 36 960 38C1000 40 1040 61 1080 58C1120 55 1127.5 37 1147.5 23C1171.48 7 1185.65 0 1200 0V83H1180C1160 83 1120 83 1080 83C1040 83 1000 83 960 83C920 83 880 83 840 83C800 83 760 83 720 83C680 83 640 83 600 83C560 83 520 83 480 83C440 83 400 83 360 83C320 83 280 83 240 83C200 83 160 83 120 83C80 83 40 83 20 83H0V0.0103865Z' fill='%23121212'/></svg>");

}


@media(max-width:850px) {
    .socialwave-container::before {
        height: 51px
    }
}


@keyframes run {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* ----------------------------- */
#visual {
    width: 100%;
    padding: 0;
    margin: 0;

}

/* ----------------------------- */

.dwCV {
    transition: .3s;
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 30vh;
    background-color: var(--background);

    & .dwCVWrap {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .head {
            padding: 20px 0 50px;

            & p {
                text-align: center;
                font-size: 16px;
                color: var(--text);
            }

            & h2 {
                text-align: center;
                font-size: 36px;
                color: var(--text);
            }
        }

        .btn-class-name {
            --primary: 109, 109, 227;
            --background: 37, 48, 101;
            width: 60px;
            height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
            user-select: none;
            touch-action: manipulation;
            outline: 10px solid rgb(var(--primary), .5);
            border-radius: 100%;
            position: relative;
            transition: .3s;

            & .front {
                background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
                box-shadow: 0 .5em 1em -0.2em rgba(var(--background), .5);
                border-radius: 100%;
                position: absolute;
                border: 1px solid rgb(var(--background));
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 600;
                font-family: inherit;
                transform: translateY(-15%);
                transition: .15s;
                color: rgb(var(--background));
            }

            & .back {
                background: rgb(var(--background));
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

        }

        .btn-class-name:active .front {
            transform: translateY(0%);
            box-shadow: 0 0;
        }







    }
}