header {
    position: relative;
    font-family: "Rubik", sans-serif;
    width: 100%;
    background: transparent;
    background-color: var(--background);
    transition: .3s;

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            display: flex;
            align-items: center;

            & a {
                display: flex;
                align-items: center;
                padding: 20px 0 10px;

                & img {
                    width: 160px;
                    
                }
            }

            & .l {
                margin-left: 50px;
                @media screen and (max-width:425px){
                    margin-left: 20px;
                    
                }
            }
        }

        &>nav {
            & ul {
                display: flex;
                align-items: center;

                & li {
                    transition: .3s;
                    padding: 12px 18px;

                    & a {
                        transition: .3s;
                        color: var(--text);
                    }
                }

                & li:hover {

                    & a {
                        color: var(--orange);
                    }
                }
            }

            @media screen and (max-width:769px) {
                display: none;
            }
        }

        & .hamburgerMenu {
            display: flex;
            flex-direction: column;
            width: 28px;
            height: 72px;
            padding: 0px 10px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            transition: background-color 0.3s ease;

            & span {
                transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s ease;
                width: 80%;
                height: 1.8px;
                flex-shrink: 0;
                border: 1px solid var(--text);
                background-color: var(--text);
                border-radius: 2px;
            }

            & span:nth-child(2) {
                opacity: 100;
            }

            @media screen and (min-width:769px) {
                display: none;
            }
        }

        & .menuOpened1 {
            & span:nth-child(1) {
                transform: translateY(7px);
            }

            & span:nth-child(2) {
                opacity: 0;
            }

            & span:nth-child(3) {
                transform: translateY(-7px);
            }


        }

        & .menuOpened {
            & span:nth-child(1) {
                transform: rotate(-45deg) translate(-5px, 5px);
            }

            & span:nth-child(2) {
                opacity: 0;
            }

            & span:nth-child(3) {
                transform: rotate(45deg) translate(-5px, -5px);
            }

        }
    }

    & .togglenav {
        box-sizing: border-box;
        transition: .4s;
        padding: 32px 16px;
        position: absolute;
        z-index: 2;
        top: 100%;
        right: -110%;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(180deg, var(--background) 7%, var(--scbackground) 38%);

        & ul {
            display: flex;
            flex-direction: column;

            & li {
                transition: .3s;
                padding: 12px 18px;

                & a {
                    transition: .3s;
                    color: var(--text);
                }
            }

            & li:hover {

                & a {
                    color: var(--orange);
                }
            }
        }


    }

    & .openTogglenav {
        right: 0%;
    }
}

/* The switch - the box around the slider */
.l {
    display: block;
    margin-bottom: 1.5em;
    font-size: 1em;
  }
  
  .l {
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
    color: #fdea7b;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 3em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .l:before, .l:after {
    content: "";
    display: block;
  }
  
  .l:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
  }
  
  .l:after {
    background: linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
          repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
          radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.2em;
    height: 1em;
    box-sizing: border-box;
  }
  /* Checked */
  .l:checked {
    background-color: rgba(0,0,0,0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
  }
  
  .l:checked:before {
    background-color: currentColor;
    transform: translateX(125%)
  }
  
  .l:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);
  }
  /* Other States */
  .l:focus {
      /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
    outline: 0;
  }