.notifybar{
    transition: .3s;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 25px;
    background-color: var(--fakeWhite);
    color: black;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    display: flex;
    align-items: center;
    gap: 5px;
    & img{
        width: 30px;
        height: 30px;
    }
}
.shownotify{
    bottom: 30px;
}
.intro {
    background-color: var(--mainBlack);
    width: 100%;
    position: relative;

    & .introWrap {

        & .mainContent {
            transition: 2s;
            color: white;
            font-family: "Rubik", sans-serif;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .littleAbout {
                width: 40%;

                & .name {
                    & p {
                        font-size: 24px;
                        margin: 0 0 0 2px;
                    }

                    &>h1 {

                        font-size: clamp(48px, 5vw, 100px);
                    }

                }

                & .myText {
                    &>p {
                        font-size: clamp(16px, 4vw, 24px);
                    }

                }
            }

            & .whyMe {
                &>p {
                    font-size: clamp(12px, 4vw, 22px);
                }
            }


            & .photoOfMe {
                width: 40%;
                min-width: 500px;
                height: 100%;
                display: flex;
                align-items: flex-end;
                background-image: url(./img/backcirclelgblack.png);
                background-size: contain;
                background-position: calc(50%) calc(50% + 50px);
                background-repeat: no-repeat;

                & img {
                    width: 100%;
                    filter: drop-shadow(20px 0px rgba(0, 0, 0, 0.3));

                }
            }

        }
    }
}



.intro::before {
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 32vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23363543'/></svg>");

    @media(max-width:850px) {
        height: 84px
    }
}

@media screen and (max-width:1100px) {
    .intro {
        & .introWrap {


            & .mainContent {
                flex-direction: column;


                & .littleAbout {
                    padding: 30px 0 0;
                    width: 100%;


                }


                & .photoOfMe {
                    order: 3;



                }

                & .whyMe {
                    padding: 30px 0 0;
                    order: 2;
                    width: 100%;

                    & p {
                        text-align: start;
                    }

                }

            }
        }

    }
}

@media screen and (max-width:768px) {
    .intro {

        & .introWrap {

            & .mainContent {
                & .whyMe {
                    padding: 20px 0 0;
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;

                }


            }

        }

    }
}

@media screen and (max-width:425px) {
    .intro {
        & .introWrap {

            & .mainContent {
                & .whyMe {
                    padding: 20px 0 0;
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;


                }

                & .photoOfMe {
                    min-width: 100%;

                }
            }

        }

    }
}


/* Social media */

.social {
    background: var(--mainLgBlack);
    padding: 30px 0;
    font-family: "Rubik", sans-serif;
    position: relative;

    & .socialWrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & .head {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: normal;

            & h2 {
                padding: 12px 0;
                color: var(--orange);
                font-size: 36px;
                font-family: "Rubik", sans-serif;
            }

            & p {
                color: var(--fakeWhite);
                font-family: "Rubik", sans-serif;
                font-size: 16px;
            }
        }

        & .socialM {
            height: 50vh;
            box-sizing: border-box;

            & .round {
                margin: 50px 0 0;
                position: relative;
                right: 50%;
                width: 500px;
                height: 500px;
                background-color: var(--mainBlack);
                border-radius: 39% 61% 63% 37% / 42% 49% 51% 58%;

                & .icon {
                    transition: all 0.3s;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    gap: 20px;

                    & svg {
                        font-size: 48px;
                        color: white;
                        transition: transform 0.3s;
                    }

                    & .ltoR {
                        overflow: hidden;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 40px;

                        width: 0px;
                        background-color: var(--purple);
                        color: var(--fakeWhite);
                        transition: width 0.3s, padding 0.3s;
                        border-right: 5px solid var(--orange);

                        & a {
                            margin: 0 10px;
                            color: var(--fakeWhite);
                            font-size: 14px;
                        }

                        &>svg {
                            font-size: 16px;
                            margin-right: 10px;
                            /* animation: run 1s linear infinite; */
                        }
                    }


                }

                & .openlink {
                    &>svg {
                        transform: scale(1.2) rotate(12deg);
                    }
                }



                & .openlink:nth-child(1) {
                    & .ltoR {
                        width: 255px;

                        &>svg {
                            animation: run 1s linear infinite;
                        }
                    }


                }

                & .openlink:nth-child(2) {
                    & .ltoR {
                        width: 200px;
                        animation: run 1s linear infinite;

                    }

                }

                & .openlink:nth-child(3) {
                    & .ltoR {
                        width: 170px;
                        animation: run 1s linear infinite;
                    }
                }

                & .openlink:nth-child(4) {
                    & .ltoR {
                        width: 177px;
                        animation: run 1s linear infinite;
                    }
                }

                & .openlink:nth-child(5) {
                    & .ltoR {
                        width: 190px;
                        animation: run 1s linear infinite;
                    }
                }


                & .icon:nth-child(1) {
                    top: 60px;
                    left: 345px;

                }

                & .icon:nth-child(2) {
                    top: 120px;
                    left: 400px;

                }

                & .icon:nth-child(3) {
                    top: 185px;
                    left: 430px;
                }

                & .icon:nth-child(4) {
                    top: 255px;
                    left: 423px;
                }

                & .icon:nth-child(5) {
                    top: 320px;
                    left: 410px;
                }

            }
        }

        & .d3dSocialDs {
            width: 100%;
            display: none;
            justify-content: center;
        }

        & .d3dSocialDb {
            display: none;
            justify-content: center;
        }
    }

    @media screen and (min-width:769px) {
        & .socialWrap {

            & .socialM {
                display: none;
            }

            & .d3dSocialDs {
                display: flex;
            }
        }
    }

    @media screen and (min-width:1024px) {
        & .socialWrap {
            flex-direction: row-reverse;
            justify-content: space-between;

            & .head {
                align-items: flex-start;

                & h2 {
                    font-size: 44px;
                }

                & p {
                    font-size: 20px;
                }
            }

            & .d3dSocialDs {
                width: 50%;
                scale: 1.2;
            }
        }
    }

    @media screen and (min-width:1440px) {
        height: 55vh;

        & .socialWrap {
            justify-content: space-around;
            gap: 80px;

            & .head {

                & h2 {
                    font-size: 52px;
                }

                & p {
                    font-size: 22px;
                }
            }

            & .d3dSocialDs {
                display: none;
            }

            & .d3dSocialDb {
                display: flex;
                scale: 1.5;

                & canvas {
                    padding: 25px 50px 15px 0;
                }
            }
        }
    }
}

.social::before {
    content: "";
    width: 100%;
    height: 102px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 0vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 22L33 19C82 13 133 14 200 29C267 44 333 67 400 70C467 74 533 59 600 40C667 22 733 0 800 0C867 0 933 22 1000 29C1067 37 1133 29 1167 26L1200 22V134H1167C1133 134 1067 134 1000 134C933 134 867 134 800 134C733 134 667 134 600 134C533 134 467 134 400 134C333 134 267 134 200 134C133 134 67 134 33 134H0V22.332Z' fill='%232b2d3a'/></svg>");
}

@media(max-width:850px) {
    .socialwave-container::before {
        height: 51px
    }
}


@keyframes run {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* ----------------------------- */
#visual {
    width: 100%;
    padding: 0;
    margin: 0;

}

/* ----------------------------- */

.dwCV {
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 50vh;
    background-color: var(--mainBlack);

    & .dwCVWrap {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .head{
            padding: 20px 0 50px;
            & p{
                text-align: center;
                font-size: 16px;
                color: var(--fakeWhite);
            }
            & h2{
                text-align: center;
                font-size: 36px;
                color: var(--fakeWhite);
            }
        }
        .btn-class-name {
            --primary: 255, 90, 120;
            --secondary: 150, 50, 60;
            width: 60px;
            height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
            user-select: none;
            touch-action: manipulation;
            outline: 10px solid rgb(var(--primary), .5);
            border-radius: 100%;
            position: relative;
            transition: .3s;

            & .front {
                background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
                box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
                border-radius: 100%;
                position: absolute;
                border: 1px solid rgb(var(--secondary));
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 600;
                font-family: inherit;
                transform: translateY(-15%);
                transition: .15s;
                color: rgb(var(--secondary));
            }

            & .back {
                background: rgb(var(--secondary));
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

        }
        .btn-class-name:active .front {
            transform: translateY(0%);
            box-shadow: 0 0;
        }
        






    }
}