.skills {
    transition: .3s;
    background: var(--background);
    padding: 50px 0;
    font-family: "Rubik", sans-serif;
    color: var(--text);
    & .skillsWrap {

        & .head{
            display: flex;
            justify-content: center;
            align-items: center;
            & h2{
                font-weight: 500;
                font-size: clamp(48px, 5vw, 99px);
            }
        }
        & .logoWrap {
            padding: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 40vh;
            box-sizing: border-box;



            & img {
                width: 100%;
            }
        }

        & .logoWrap:nth-child(11) {

            width: 100%;

            & img {
                width: 70%;
            }
        }



    }
}