@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

#root {
    overflow-x: hidden;
}

body {
    cursor: none;

}

a {
    cursor: none;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.light-mode {
    --text: #0f0f10;
    --background: #f2f3f7;
    --primary: #253065;
    --secondary: #6d81e3;
    --sctext: #6d81e3;
    --accent: #0b2eda;
    --scbackground: #fcfbff;


}

.dark-mode {

    --text: #efeff0;
    --background: #121212;
    --primary: #9aa5da;
    --secondary: #1c2f92;
    --sctext: #6d81e3;
    --accent: #2547f4;
    --scbackground: #1d1d1d; 


}

/* 
--text: #efeff0;
--background: #08090d;
--primary: #9aa5da;
--secondary: #1c2f92;
--sctext: #6d81e3;
--accent: #2547f4;
--scbackground: #fcfbff;

--text: #eceeef;
--background: #020303;
--primary: #3b87c9;
--secondary: #214a6e;
--accent: #107cb2;


--text: #101213;
--background: #fcfdfd;
--primary: #3682c4;
--secondary: #91bade;
--accent: #4db9ef;

 


*/
/* Scrollbar container */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    transition: .3s;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background:  #6d81e3; /* Color of the thumb when hovered */
    /* darkseagreen; Color of the track */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #555; /* Color of the thumb */
    border-radius: 10px; /* Round corners of the thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background:  darkseagreen; /* Color of the thumb when hovered */
}


